<!DOCTYPE html>

<html>
	<head>
		<%= css :application, :media => 'screen' %>
		<%= js  :app %>
	</head>
	<body>
		<button onclick="window.watchId = startWatch()">Start</button>
		<button onclick="stopWatch(window.watchId)">Stop</button>
	</body>
</html>