<!doctype html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Trip Tracker</title>
	<meta name="description" content="">
	<meta name="author" content="Ryan Tyer">
	<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
  
  <%= css :application %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCHR1BX6hz0zMeSrS6pvk49D9gWuz55H6M&sensor=false"></script>
  <%= js  :app %>
  <script>
    $(document).ready(function(){
      app.Tracker.start();
    });
  </script>
<!--
  <script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      }
    </script>-->
    <style type="text/css">    
      #map_canvas { height: 400px }
    </style>
</head>
<body>
  <div id="app">
    <div id="container" class="container-fluid">
      
    </div> <!-- /container -->
  </div>
<footer>
  <p><small>&copy; Ryan Tyer 2012 | <a href="/spec" style="color:gray">Run Spec</a></small></p>
</footer>

</div> <!-- /container -->

</body>
</html>