<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>Jasmine Test Runner</title>

    <%= css :test %>
    <%= js  :app %>
  
    <script src='/js/test/jasmine.js'></script>
    <script src='/js/test/jasmine-html.js'></script>
    <script src='/js/test/tracker_spec.js'></script>      

  </head>
  <body>

    <script type="text/javascript">
      jasmine.getEnv().addReporter(new jasmine.TrivialReporter());
      jasmine.getEnv().execute();
    </script>

  </body>
</html>
